server {
    # 80번 포트로부터 받은 요청을 처리
    listen 80;
    # 도메인이 'localhost'에 해당 할 때
    server_name localhost *.amazonaws.com;
    # 인코딩방식
    charset utf-8;
    # request/response의 최대 사이즈
    # 기본값이 작음
    client_max_body_size 128M;

    # ('/'부터 시작) -> 모든 URL 연결에 대해
    location / {
        # uwsgi 와의 연결에 unix 소켓을 사용
        # "/tmp/app.sock" 파일을 사
        uwsgi_pass  unix:///tmp/app.sock;
        include     uwsgi_params;
    }

    location /static/ {
        alias /srv/project/.static/;
    }
    # 스태틱으로 온 리퀘스트는 여기서 처리
    location /media/ {
        alias /srv/project/.media/;
    }
    # 미디어로 온 리퀘스트는 여기서 처
}